<div class="card" [ngClass]="{
    'bg-warning': p.type == 'news',
    'bg-info': p.type == 'education',
    'text-bg-dark': p.type == 'politics'}">
    <div class="card-header h5">
        {{ p.id }} - {{ p.title }}
    </div>
    <div class="card-body">
        <p class="card-text">
            {{ p.body }}
        </p>

        <ng-content></ng-content>

        <button type="button" class="btn btn-primary ms-2" (click)="showDetail(p.id)">Dettagli</button>

        <div class="d-flex justify-content-end">
            <a class="btn btn-danger" (click)="elimina(p.id)">Elimina</a>
        </div>
    </div>
</div>
