<div *ngIf="currentPost != undefined">
    <h3 class="text-center fst-italic mb-3">{{ currentPost.title }}</h3>
    <div class="card bg-opacity-25" [ngClass]="{
    'bg-warning': currentPost.type == 'news',
    'bg-info': currentPost.type == 'education',
    'bg-dark': currentPost.type == 'politics'}">
        <!-- <div class="card-header h5">
            {{ currentPost.title }}
        </div> -->
        <div class="card-body">
            <p class="card-text">
                {{ currentPost.body }}
            </p>
        </div>
        <div class="card-footer d-flex justify-content-between">
            <p class="card-text mb-0">
                Categoria: {{ currentPost.type }}
            </p>
            <p class="card-text mb-0 fst-italic">
                Autore: {{ currentPost.author }}
            </p>
        </div>
    </div>
</div>
